---
interface Props {
  title: string;
  description?: string;
}

const { title, description = "Um repositório colaborativo de receitas em formato markdown 🍳✨" } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <title>{title}</title>
  </head>
  <body class="bg-background font-mono">
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --card: #0f0f0f;
    --border: #262626;
    --muted-foreground: #a3a3a3;
  }
  
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
</style>